html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Graphics */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.5;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.5;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.5;
    }
}

.pulse {
    -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out;
    -moz-animation: pulse 3s infinite ease-in-out;
    animation: pulse 3s infinite ease-in-out;
}

.backgroundGraphicParent {
    width: 100vw;
    overflow: hidden;
    position: absolute;
    min-height: 110vh;
    left: 0;
    z-index: -2;
}

.backgroundGraphic {
    position: absolute;
    z-index: -2;
    max-width: 40vw;
    overflow: hidden;
}

.backgroundGraphicFAQ{
    position: absolute;
    z-index: -2;
    overflow: hidden;
}
.hacker {
    z-index: -1;
    text-align: right;
    max-width: calc(min(600px, 40vw));
    max-height: calc(min(600px, 40vw));
    text-overflow: "";
    overflow: hidden;
    border-radius: 50%;
    color: rgb(12, 12, 12);
    font-weight: bold;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

/* Header */
.headerlogo {
    max-width: calc(min(85vw, 450px));
}

/* Section */
.heading {
    text-align: center;
}

/* Image Outline */
.outline {
    outline-color: white;
    outline-width: 5px;
    outline-style: solid;
}

/* Images */
.circle {
    border-radius: 50%;
}

/* Zoom hover */
.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.01);
}

/* Hack for vertical alignment */
.spacer {
    height: 50%;
}

.verticalCenter {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
