html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Header */
.headerlogo {
    max-width: calc(min(85vw, 250px));
}

.logo {
    max-height: calc(min(20vh, 100px));
}

/* Section */
.heading {
    text-align: center;
}

/* Image Outline */
.outline {
    outline-color: white;
    outline-width: 5px;
    outline-style: solid;
}

/* Images */
.circle {
    border-radius: 50%;
}

/* Zoom hover */
.zoom {
    transition: transform .2s;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.01);
}

/* Hack for vertical alignment */
.spacer {
    height: 50%;
}

.verticalCenter {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
